    /* Basic Styling */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "poppins" ,sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
    max-width: 100%;
}
::selection{
    color: white;
    background-color: #ff006f;
}
::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-thumb{
    background-color: #ff006f7c;

}
   /* Navbar styling */
header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 3rem;
    left: 0;
}
.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: rgb(255, 255, 255,.4) 1px solid;
}
nav ul{
    position: absolute;
    top: -3rem;
    left: 0;
    background-color: #ff006f;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(-100%);
    transition: all 450ms;
}
nav ul li{
    padding: 2rem;
}
nav ul li a{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    transition: color 250ms;
    display: inline-block;
}
nav ul li a:hover{
    color: #ff006f;
}
nav ul li a:active{
    transform: scale(1.3);
}
.logo img{
    width: 4rem;
}
.logo{
    transition: transform 250ms;
}
.logo:active{
    transform: scale(1.3);
}
.menu-icon{
    cursor: pointer;
    z-index: 100;
}
.close{
    display: none;
}
.open .close{
    display: block;
}
.open .menu{
    display: none;
}
.open nav ul{
    transform: translateX(0);
}
    /* End Navbar styling */
    /* Start first section styling */
#first{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(188,62,192,.6),rgba(142,61,188,.6)) , url(../assets/Photos/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 0 0 2rem 2rem;
}
.container-first{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-text{
    color: white;
    text-align: left;
}
.center-text{
    font-size: 5rem;
    line-height: 5rem;
}
.up-text{
    font-size: 2rem;
}
.down-text{
    max-width: 50rem;
    font-size: 1.6rem;
    margin-top: 1rem;
}
.btn{
    font-size: 1.6rem;
    color: white;
    background-color: #ff006f;
    padding: .5rem 2rem;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    transition: background-color 650ms;
}
.btn:hover{
    background-color: #d3005b;
}
.btn:active{
    transform: scale(1.1);
}
    /* End First section */
    /* Start first section styling */
#boxs-grid{
    width: 100%;
    height: 170vh;
}
.container-grid{
    text-align: center;
    margin-top: 6rem;
}
.boxs-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    margin-top: 6rem;
}
.boxs-container img{
    width: 4rem;
    position: absolute;
    top: 3rem;
    left: 4rem;
}
.box{
    width: 30rem;
    height: 40rem;
    margin: 0 auto;
    position: relative;
}
.grid-title{
    color: #643082;
}
.grid-up{
    font-size: 2rem;
}
.grid-center{
    font-size: 3rem;
    line-height: 3rem;
}
.box-text-inside{
    text-align: left;
    max-width: 25rem;
    margin-top: 13rem;
    color: white;
    margin-left: 4rem;
}
.first-box-grid{
    background: linear-gradient(rgba(188,62,192,.8),rgba(142,61,188,.9)) , url(../assets/Photos/1.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 650ms;
    border-radius: 2rem;
}

.first-box-grid .box-text-inside p{
    font-size: 1.9rem;
}
.second-box-grid{
    background: linear-gradient(rgba(188,62,192,.8),rgba(142,61,188,.9)) , url(../assets/Photos/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 650ms;
    border-radius: 2rem;
}
.second-box-grid .box-text-inside p{
    font-size: 1.9rem;
}
.third-box-grid{
    background: linear-gradient(rgba(188,62,192,.8),rgba(142,61,188,.9)) , url(../assets/Photos/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 650ms;
    border-radius: 2rem;
}
.third-box-grid .box-text-inside p{
    font-size: 1.9rem;
}
.first-box-grid:hover{
    transform: translateY(-1rem);
}
.second-box-grid:hover{
    transform: translateY(-1rem);

}
.third-box-grid:hover{
    transform: translateY(-1rem);
}
    /* End grid section */
    /* Start opinions section styling */
#opinions{
    width: 100%;
    height: 100vh;
    text-align: center;
}
.persons-opinions{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(188,62,192,.8),rgba(142,61,188,.9)) , url(../assets/Photos/opinios-back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;
}
.opinions-title{
    margin-bottom: 3rem;
}
.opinions-title h1{
    color: #643082;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 6rem;
}
.opinions-title p{
    color: #643082;
}
.persons-opinions img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: #ff006f solid ;
}
.first-person {
    color: white;
    text-align: center;
    max-width: 20rem;
    margin: 0 auto;
    font-size: 2rem;
    transition: transform 450ms;
    cursor: pointer;
}
.second-person {
    color: white;
    text-align: center;
    max-width: 20rem;
    margin: 3rem auto;
    font-size: 2rem;
    transition: transform 450ms;
    cursor: pointer;
}
.persons-opinions .btn-opininons{
    background-color: #ff006f;
    width: 14rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    border-radius: 5rem;
    font-size: 2rem;
    transition: background-color 450ms;
}
.btn-opininons:hover{
    background-color: #d3005b;
}
.first-person:hover{
    transform: translateY(-1rem);
}
.second-person:hover{
    transform: translateY(-1rem);
}
    /* End oppinions section */
    /* Start last section styling */
#last-section{
    width: 100%;
    height: 50vh;
    margin-top: 12rem;
}
.last-title{
    text-align: center;
    color: #643082;
}
.last-title .last-up{
    font-size:1.6rem;    
}
.last-title .last-center{
    font-size: 5rem;
    line-height: 5rem;
}
.content-last{
    margin-top: 5rem;
    max-width: 70rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}
.left, .right{
    padding: 2rem;
}
.book-now-btn{
    width: 100%;
    display: inline;
    background-color: #ff006f;
    padding: 1rem 3rem;
    border-radius: 5rem;
    margin-left: 40%;
    transition: background-color 450ms;
}
.book-now-btn a{
    color: white;
    display: inline-block;
    margin-top: 2rem;
}
.book-now-btn:hover{
    background-color: #d3005b;
}
    /* End last section */
    /* Start footer sectio styling */
footer{
    width: 100%;
    height: 10vh;
    background-color: #CBCBCB;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}
/* start medai*/
@media screen and (min-width: 350px){
    #first{
        height: 100vh;
    }
    .first-text{
        margin-left: 3rem;
        margin-top: -16rem;
    }
    .center-text{
    font-size: 3.5rem;
    line-height: 5rem;
    }
    .up-text{
        font-size: 1.3rem;
    }
    .down-text{
        max-width: 40rem;
        font-size: .9rem;
        margin-top: 1rem;
    }
    .btn{
        font-size: 1.2rem;
        color: white;
        background-color: #ff006f;
        padding: .5rem 2rem;
        display: inline-block;
        margin-top: 1rem;
        border-radius: 5rem;
        transition: background-color 650ms;
    }
    #opinions{
        margin-top: 50rem;
    }
    #last-section{
        height: 80vh;
    }
    .content-last{
        flex-direction: column;
    }
    .book-now-btn{
        margin-left:35%;
    }
    footer{
       height: 30vh; 
    }
}
@media screen and (min-width: 500px){
    #boxs-grid{
    height: 80vh;
    }
    #last-section{
    width: 100%;
    height: 60vh;
    margin-top: 12rem;
    text-align: center;
    }
    .content-last{
        width: 100%;
    }
    .book-now-btn{
        margin-left: 0%;
    }

}
@media screen and (min-width: 700px){
    #last-section{
        height: 70vh;
    }
}
@media screen and (min-width: 945px){
    #boxs-grid{
        height: 20vh;
    }
    .content-last{
        width: 100%;
        margin: 6rem auto;
    
    }
        .first-text{
        margin-left: 3rem;
        margin-top: 0rem;
    }
    .center-text{
    font-size: 7rem;
    line-height: 7rem;
    }
    .up-text{
        font-size: 1.9rem;
    }
    .down-text{
        max-width: 40rem;
        font-size: 1.3rem;
        margin-top: 1rem;
    }
    .menu-icon{
        display: none;
    }
    header{
        position: fixed;
    }
    nav ul{
    position:fixed;
    top: 3rem;
    left: 18rem;
    background: none;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    transform: translateX(0);
    }
    nav ul li a{
        font-weight: normal;
    }
}
@media screen and (min-width: 1366px){
    #first{
        height: 100vh;
    }
    .first-text{
    color: white;
    text-align: left;
    margin-top: 5rem;
}
.center-text{
    font-size: 5rem;
    line-height: 5rem;
}
.up-text{
    font-size: 2rem;
}
.down-text{
    max-width: 50rem;
    font-size: 1.6rem;
    margin-top: 1rem;
}
.btn{
    font-size: 1.6rem;
    color: white;
    background-color: #ff006f;
    padding: .5rem 2rem;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    transition: background-color 650ms;
}

}